.body-container {
    margin-top: 1px;
}

.inicio-container-Big {
    padding-bottom: 80px;
    background-color: var(--secondaryColorTransparent);
}

.inicio-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

.inicio-subcontainer {
    margin-top: 125px;
    padding: 25px;
    border-radius: 50px;
    text-align: center;
}

.inicio-container-title {
    background-color: var(--secondaryColor);
    font-weight: 600;
}

.inicio-subcontainer-title {
    background-color: var(--secondaryColorTransparent);
    color: var(--thirdColor);
    border-radius: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.info-container {
    background-color: var(--secondaryColorTransparent);
    padding-top: 30px;
    padding-bottom: 30px;
    transition: transform 0.3s ease-in-out;
}

.activities-container {
    background-color: var(--secondaryColorTransparent);
    padding-top: 30px;
    padding-bottom: 30px;
}

.activities-subcontainer {
    background-color: var(--secondaryColor);
    display: block;
    align-items: center;
    padding: 30px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
}

.activities-container-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activities-container-info {
    width: 80%;
}

.images-container {
    border-radius: 50px;
    width: 100%;
}

.alone {
    max-width: 90%;
    padding-top: 20px;
}

.activities-container-image {
    width: fit-content;
}

.activities-container-title {
    /**background: radial-gradient(circle, var(--thirdColor), var(--primaryColor));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;*/
    color: var(--primaryColor);
}

.activities-container-text {
    width: 100%;
    text-align: justify;
    color: var(--thirdColor);
}

.activities-container-checklist {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 0;
    width: 100%;
    justify-content: left;
}

.activities-container-checklist-text {
    margin: 0.85em;
    color: var(--thirdColor);
}

.activities-container-subtitle {
    text-align: center;
    color: var(--thirdColor);
}

.info-subcontainer {
    display: block;
    background-color: var(--secondaryColorTransparent);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.info-subcontainer-all {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.info-subcontainer-wrap {
    background-color: var(--secondaryColor);
    display: block;
    padding: 20px;
    border-radius: 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: fit-content;
    transition: transform 0.3s ease-in-out;
}

.info-subcontainer-wrap:hover {
    transform: translateY(-20px);
}

.info-subcontainer-subtitle {
    color: var(--primaryColor);
}

.info-subcontainer-description {
    color: var(--thirdColor);
    text-align: justify;
}

.services-container {
    background-color: var(--secondaryColorTransparent);
    padding-top: 30px;
    padding-bottom: 30px;
}

.services-subcontainer {
    display: grid;
    justify-content: center;
    background-color: var(--secondaryColor);
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.services-container-title {
    background: radial-gradient(circle, var(--primaryColor), var(--thirdColor));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.services-container-images {
    display: flex;
    justify-content: space-between;
}

.services-container-wrap {
    display: block;
    width: 28%;
    color: var(--primaryColor);
    padding: 20px;
    transition: transform 0.3s ease-in-out;
}

.services-container-wrap:hover {
    transform: translateY(-20px);
}

.services-container-wrap-title {
    color: var(--primaryColor);
}

.services-container-wrap-description {
    color: var(--thirdColor);
    padding: 10px;
    text-align: justify;
}

.contacto-container {
    background-color: var(--primaryColorTransparent);
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contacto-subcontainer {
    background-color: var(--primaryColor);
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contacto-container-text {
    font-weight: 900;
    color: var(--thirdColor);
    margin: 20px;
    padding: 20px;
    font-size: 40px;
}

.contacto-container-link {
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0);
    color: var(--thirdColor);
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    border: 2px var(--thirdColor) solid;
    font-size: 20px;
    align-self: center;
}

.saw-container {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.saw-blade {
    width: 200px;
    height: 200px;
    animation: spin 7s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.learnMore {
    padding: 15px;
    margin-top: 30px;
    background-color: var(--primaryColor);
    width: fit-content;
    justify-self: center;
    border-radius: 25px;
    text-decoration: none;
    color: white;
}

.footer-link:hover,
.learnMore:hover {
    color: var(--midColor);
}

.logo-image:hover,
.footer-logo:hover {
    border: 2px var(--midColor) solid;
    border-radius: 40px;
}

.title-footer:hover,
.contacto-container-link:hover {
    border-color: var(--midColor);
    color: var(--midColor);
}

@media screen and (max-width: 1079px) {
    .inicio-container-title {
        font-size: 40px;
    }

    .saw-blade {
        height: 175px;
        width: 175px;
    }
}


@media screen and (max-width: 860px) {

    .saw-blade {
        height: 150px;
        width: 150px;
    }

    .services-container-images {
        display: grid;
        justify-content: center;
        row-gap: 20px;
    }

    .services-container-wrap {
        width: 70%;
        padding: 20px;
        margin: 40px;
        width: fit-content;
    }

    .activities-container-content {
        display: block;
    }

    .info-subcontainer-all {
        display: block;
    }

    .activities-container-info {
        width: 100%;
    }

}

@media screen and (max-width: 750px) {

    .saw-blade {
        height: 125px;
        width: 125px;
    }

    .services-container-wrap {
        width: 80%;
        margin: 0 auto;
    }

}

@media screen and (max-width: 670px) {

    .footer-container-info-description,
    .catchy-phrase-bottom {
        max-width: 100%;
        box-sizing: border-box;
    }

    .contacto-container-link {
        font-size: 20px;
    }

    .contacto-container-text,
    .inicio-container-title {
        font-size: 30px;
    }

    .services-container-wrap {
        padding: 10px;
    }

}

@media screen and (max-width: 370px) {

    .saw-blade {
        height: 125px;
        width: 125px;
    }

    .contacto-container-link {
        font-size: 12px;
    }

    .contacto-container-text,
    .inicio-container-title {
        font-size: 23px;
    }

}