:root {
  --primaryColor: #bc4235;
  --secondaryColor: #000;
  --thirdColor: #fff;

  --primaryColorTransparent: rgba(188, 66, 53, 0.4);
  --secondaryColorTransparent: rgba(0, 0, 0, 0.4);
  --thirdColorTransparent: rgba(255, 255, 255, 0.4);

  --midColor: #dea19a;

  font-family: "Playfair Display", "Copperplate Gothic Light", serif;
  font-optical-sizing: auto;
  font-style: normal;

  text-align: center;

  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-size: 50px;
  font-weight: 900;
}

h2 {
  font-size: 30px;
  font-weight: 700;
}

.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-in-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

a {
  text-decoration: none;
}

img,
div {
  max-width: 100%;
  width: auto;
}


@media screen and (max-width: 670px) {

  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}